{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <form method="post" class="post-form">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="Realtime_Information">답변내용</label>
            <textarea class="form-control" name="Realtime_Information" id="Realtime_Information"
                      rows="10">{{ form.Realtime_Information.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}